
{% extends 'base.html' %}

{% block content %}

<body class="nav_body">
    <section class="nav_section">
        <!-- <h2 class="title">FAhjbQs</h2> -->
        <div class="faq">
            <div class="question">
                <h3>What is the pricing?</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>


            </div>
            <div>
                <div class="answer">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero ipsam repudiandae optio.
                </div>

            </div>
        </div>
        <div class="faq">
            <div class="question">
                <h3>What is the pricing?</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>


            </div>
            <div>
                <div class="answer">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero ipsam repudiandae optio.
                </div>

            </div>
        </div><div class="faq">
            <div class="question">
                <h3>What are the facilities available?</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
                </svg>


            </div>
            <div>
                <div class="answer">
                    Lorem ipsum, dolor sit amet consectetur
                     adipisicing elit. Libero ipsam repudiandae optio.
                </div>

            </div>
        </div>
    </section>
    
    <script src="../static/app.js"></script>

    
    {% endblock content %}
