
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.heads{
	display:flex;
    flex-direction: column;
}
.row{
	
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
    /* gap:inherit; */
}
ul{
	list-style: none;
}
.footer{
	background-color: #060650;
    padding: 70px 0;
	
}
.footer-col{
   /* width: 40%;
   padding: 0 15px;
   display: flex;
   flex-direction: column; */
    width:300px;
    margin:1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: rgb(7, 2, 109);
    line-height: 17px;
}
   
.footer-col h4{
	font-size: 20px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
/* .footer-col ul li:not(:last-child){
	margin-bottom: 10px;
} */
.footer-col ul li {
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	line-height: normal;
	display: block;
	transition: all 0.3s ease;
}

.footer-col .icontext{
    display: flex;
    flex-direction: row;
    color:#ffffff;
}
.footer-col .social-links a{
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color:#07024b;
	text-align: center;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

/* @media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
} */
/* Add media queries for responsiveness */

/* Add media queries for responsiveness */
/* Add media queries for responsiveness */
@media screen and (max-width: 674px) {
	
    .row{
        justify-content:center;
        align-items: center;
    }
	.footer-col {
        justify-content:center;
        align-items: center;
	}
    .footer-col ul {
         /* Remove default padding for unordered lists */
        text-align: center; /* Align text to the left within the list */
    }

    .footer-col ul li {
        text-align: center; 
        display: block; /* Ensure list items are displayed as block elements */
        /* Align text to the left within list items */
        /* Add margin between list items */ 
    }
    .footer-col .social-links{
        text-align: center; 
        
    }
    .footer-col .icontext{
        justify-content: center;
    }
    .footer-col .icontext a{
        justify-content: center;
        
    }
	
	
  }
  
  









      